<div *ngIf='hero'>
    <h2>{{hero.name | uppercase}} Details</h2>
    <form [formGroup]="editChange">
        <div><span>Id: </span>{{hero.id}}</div>
        <div><span>{{'label.Name' | translate}}: </span>{{hero.name}}</div>
        <div><span>{{'label.UserAge' | translate}}: </span>{{hero.userAge}}</div>
        <div><span>{{'label.HeroLevel' | translate}}: </span>{{hero.heroLevel}}</div>
        <div><span>{{'label.AlterEgo' | translate}}: </span>{{hero.alterEgo}}</div>
        <div><span>{{'label.HeroClass' | translate}}: </span>{{hero.heroClass}}</div>
        <div><span>{{'label.HeroRace' | translate}}: </span>{{hero.heroRace}}</div>
        <div><span>{{'label.Power' | translate}}: </span>{{hero.power}}</div>
        <button mat-raised-button class="goBack" color="primary" (click)='goBack()'>{{'buttons.GoBack' | translate}}</button>
        <button mat-raised-button class="edit" color="accent" (click)='onEditChanges()' [disabled]="!editChange.valid">{{'buttons.Edit' | translate}}</button>
        <button mat-raised-button class="delete" color="warn" (click)='openDialog()'>{{'buttons.Delete' | translate}}</button>
    </form>
</div>