.form-control {
  width: 10vw;
  height: 4vh;
  margin: 2px 0 0 5px;
  border-radius: 2px;
  outline: none;
}
input {
  font-size: 1rem;
}
label {
  font-weight: bold;
}
h1 {
  margin-left: 5px;
}
.btn-primary {
  border-radius: 5px;
  height: 4vh;
  font-size: 1rem;
  margin-left: 5px;
  outline: none;
  margin-top: 10px;
}
.alert-danger {
  color: red;
  width: 10vw;
  padding: 5px 0 2px 10px;
  height: 4.4vh;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
