.form-group {
  width: 10vw;
  height: 7vh;
  margin: 2px 0 0 5px;
  border-radius: 2px;
  outline: none;
}
input {
  font-size: 1rem;
}
label {
  font-weight: bold;
}
h1 {
  margin-left: 5px;
}
.btn-primary {
  color: #525252;
  background-color: #eee;
  font-size: 1.1rem;
  padding: 1px 10px 3px 10px;
  border-radius: 5px;
  height: 4vh;
  font-size: 1rem;
  margin-left: 5px;
  outline: none;
}
.btn-primary:hover {
  color: white;
  background-color: #42545c;
}
.alert-danger {
  color: red;
  width: 10vw;
  padding: 5px 0 2px 10px;
  height: 3.2vh;
  margin-left: 5px;
  position: relative;
  left: 190px;
  bottom: 35px;
}
