<h1>{{'title.tourOfHeroes' | translate}}</h1>
<nav>
    <a mat-raised-button color="primary" routerLink='/dashboard'>{{'buttons.Dashboard' | translate}}</a>
    <a mat-raised-button color="primary" routerLink='/heroes'>{{'buttons.Heroes' | translate}}</a>
    <a mat-raised-button color="primary" routerLink='/hero'>{{'buttons.HeroCreate' | translate}}</a>
    <select color="primary" (change)="selectLanguage($event)" class="language-picker">
        <option value="en-US">English</option>
        <option value="ru-RU">Russian</option>
        <option value="de-DE">German</option>
    </select>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>