.btn-success,
.btn-default,
.btn-primary {
  background-color: white;
  color: #525252;
  font-size: 1.1rem;
  padding: 1px 10px 3px 10px;
  border-radius: 5px;
  height: 4vh;
  font-size: 1rem;
  margin-left: 5px;
  outline: none;
}
.btn-success:hover {
  color: white;
  background-color: #42545c;
}
.btn-default:hover {
  color: white;
  background-color: #42545c;
}
.btn-primary:hover {
  color: white;
  background-color: #42545c;
}
.row {
  margin-left: 0.4px;
}
.form-control {
  width: 10vw;
  height: 4vh;
  margin: 2px 0 0 5px;
  border-radius: 2px;
  outline: none;
}
.col-xs-3 {
  font-weight: bold;
  font-size: 1.1rem;
}
.alert-danger {
  color: red;
  width: 10vw;
  padding: 5px 0 2px 10px;
  height: 4.4vh;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  font-size: 1rem;
}
button {
  margin: 5px 2px 0 2px;
}
h1 {
  margin: 0 5px;
}
label {
  font-weight: bold;
}
