h2 {
  margin: 5px 0 0 5px;
}
input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  box-sizing: border-box;
}
button.delete {
  width: 2.1vw;
  height: 4.2vh;
}
mat-icon {
  width: 1vw;
  height: 2.3vh;
  position: relative;
  bottom: 8px;
  left: -2px;
}
button.edit:hover {
  background-color: #e8e8e8;
  color: #3d3d3d;
}
table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
label {
  margin-left: 5px;
  font-size: 1.2rem;
  font-family: serif;
}
