<h2>My Heroes</h2>
<!-- <ul class="heroes">
    <li *ngFor="let hero of heroesData.heroes">
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
        <button class="edit" title="edit hero" mat-raised-button color="primary" routerLink="/hero/edit/{{hero.id}}">
            Edit
        </button>
        <button class="delete" title="delete hero" color="accent" mat-fab (click)="delete(hero)">
            <mat-icon>delete</mat-icon>
        </button>
    </li>
</ul> -->
<div appearance="standard">
    <label>Filter</label>
    <input matInput (keyup)="applyFilter($event)" placeholder="search" #input>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" (matSortChange)="announceSortChange($event)">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id">
            Id
        </th>
        <td mat-cell *matCellDef="let element"><a routerLink="/detail/{{element.id}}">{{element.id}}</a>  </td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Name
        </th>
        <td mat-cell *matCellDef="let element"><a routerLink="/detail/{{element.id}}">{{element.name}}</a></td>
    </ng-container>
    <ng-container matColumnDef="userAge">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by userAge">
            userAge
        </th>
        <td mat-cell *matCellDef="let element"> {{element.userAge}} </td>
    </ng-container>
    <ng-container matColumnDef="heroLevel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by heroLevel">
            heroLevel
        </th>
        <td mat-cell *matCellDef="let element"> {{element.heroLevel}} </td>
    </ng-container>
    <ng-container matColumnDef="alterEgo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by alterEgo">
            alterEgo
        </th>
        <td mat-cell *matCellDef="let element"> {{element.alterEgo}} </td>
    </ng-container>
    <ng-container matColumnDef="heroClass">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by heroClass">
            heroClass
        </th>
        <td mat-cell *matCellDef="let element"> {{element.heroClass}} </td>
    </ng-container>
    <ng-container matColumnDef="heroRace">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by heroRace">
            heroRace
        </th>
        <td mat-cell *matCellDef="let element"> {{element.heroRace}} </td>
    </ng-container>
    <ng-container matColumnDef="power">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by power">
            power
        </th>
        <td mat-cell *matCellDef="let element"> {{element.power}} </td>
    </ng-container>
    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Edit</th>
        <td mat-cell *matCellDef="let element">
            <button class="edit" title="edit hero" mat-raised-button color="primary" routerLink="/hero/edit/{{element.id}}">
                Edit
            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let element">
            <button class="delete" title="delete hero" color="accent" mat-fab (click)="delete(element)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>